@import "../../../sass/colors";

mat-toolbar {
    > ul {
        display: inline;
        margin: 0;
        padding: 0;

        > li {
            display: inline;
            margin: 0 10px;

            a {
                color: white;
            }
        }
    }
}
