<form (submit)="login()">
    <h3>Login</h3>
    <div>
        <label for="email">Email: </label>
        <input type="email" name="email" [(ngModel)]="credentials.email">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" [(ngModel)]="credentials.password">
    </div>
    <div>
        <button mat-flat-button color="primary">Log in</button>
        <p>Not a user? <a mat-flat-button color="accent" routerLink="/signup">signup here</a></p>
    </div>
</form>
