/* You can add global styles to this file, and also import other style files */
@import "sass/colors";

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: lightgray;
}