<form>
    <h3>New Todo</h3>
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="description">Description: </label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label for="status">Status: </label>
        <select name="status">
            <option value="">Select an option</option>
            <option value="new">New</option>
            <option value="in progress">In Progress</option>
            <option value="done">Done</option>
        </select>
    </div>
    <div>
        <button>Cancel</button>
        <button>Create</button>
    </div>
</form>
