<form [formGroup]="form" (submit)="createTodo()">
    <h3>New Todo</h3> valid? {{form.valid}}
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title" formControlName="title">
    </div>
    <div>
        <label for="description">Description: </label>
        <textarea name="description" formControlName="description"></textarea>
    </div>
    <div>
        <label for="status">Status: </label>
        <select name="status" formControlName="status">
            <option value="">Select an option</option>
            <option value="new">New</option>
            <option value="in progress">In Progress</option>
            <option value="done">Done</option>
        </select>
    </div>
    <div>
        <a routerLink="..">Cancel</a>
        <button [disabled]="form.invalid">Create</button>
    </div>
</form>
